{% extends 'base.html' %}
{% load static custom_tags %}

{% block content %}
Hello, {{ user.first_name|default:'Guest' }}!
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'edit_account' %}">Edit Account</a>

    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    
    <table class="table mb-4">
    <thead class="thead-inverse">
        {% for key, val in events.first|get_fields %}
            <td>{{ key }}</td>
        {% endfor %}
        <td>Num gymnasts</td>
        <td>View</td>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
            {% for key, val in event|get_fields %}
                <td>{{ val }}</td>
            {% endfor %}
            <td>{{ gymnasts|num_gymnasts:event }}</td>
            <td><a href="{% url 'view_event' event.pk %}" class="btn btn-outline-primary">View</a></td>
            <td><a href="{% url 'new_gymnast' event.pk %}" class="btn btn-primary">Sign up</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <a href="{% url 'new_event' %}" class="btn btn-primary">New event</a>

    <table class="table mb-4">
    <thead class="thead-inverse">
        {% for key, val in gymnasts.first|get_fields %}
            <td>{{ key }}</td>
        {% endfor %}
        <td>View</td>

    </thead>
    <tbody>
      {% for gymnast in gymnasts %}
        <tr>
            {% for key, val in gymnast|get_fields %}
                <td> {{ val }}</td>
            {% endfor %}
       
            <td><a href="{% url 'view_gymnast' gymnast.pk %}" class="btn btn-outline-primary">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


    </table>
    {% comment %} <a href="{% url 'new_gymnast' %}" class="btn btn-primary">New gymnast</a> {% endcomment %}

    <table class="table mb-4">
    <thead class="thead-inverse">
        {% for key, val in coaches.first|get_fields %}
            <td>{{ key }}</td>
        {% endfor %}
        <td>View</td>

    </thead>
    <tbody>
      {% for coach in coaches %}
        <tr>
            {% for key, val in coach|get_fields %}
                <td> {{ val }}</td>
            {% endfor %}
       
            <td><a href="{% url 'view_coach' coach.pk %}" class="btn btn-outline-primary">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
      <a href="{% url 'new_coach' %}" class="btn btn-primary">New coach</a>

</div>
{% endblock %}